.nav {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid rgb(90, 88, 88);
    background-color: #f4f1e4;
    border-radius: 20px;
    padding-left: 30px;
}


.leftx {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    margin-right: auto; 
}

.rightx {
    display: flex;
    padding-left: 10px;
    margin-bottom: 0px;
    padding: 10px;
    justify-content: space-around !important;
}

.mybuttonstyle {
    width: 120px;
    height: 50px;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.mybuttonstyle:hover {
    background-color: rgb(158, 158, 158);
  }

.ontouchstart {
  
    padding-top: 500px !important;
}

.makewc {
    padding-top: 10px;
    padding-left: 5px;
}